body {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
  width: 150px;
  border-top: 5px solid #6a866c;
  border-left: 5px solid #6a866c;
  border-bottom: 2px dashed #6a866c;
  border-right: 2px dashed #6a866c;
  border-radius: 20px;
  transition: transform 0.2s ease;
}

.avatar:hover {
  transform: scale(1.1);
}

.card {
  width: 400px;
  margin: 0 auto;
  padding: 30px 40px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #e8dfca;
  color: #274734;
  border-right: 6px solid #6a866c;
  border-bottom: 6px solid #6a866c;
  border-top: 2px dashed #6a866c;
  border-left: 2px dashed #6a866c;
  border-radius: 25px;
  align-items: center;
}

.text {
  padding-bottom: 5px;
  transition: transform 0.2s ease;
}

.text:hover {
  transform: scale(1.1);
}
